*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 25px;
    background-color: orangered;
    width: auto;
    height: 50px;
    text-align: left;
    line-height: 50px;
    margin: auto;
    border: 10px solid chartreuse;
    border-radius: 30px;
}

.main{
    text-align: center;
}

ol{
    text-align: center;
    margin: 10px auto;
    width: 30%;
    font-size: 30px;
}

li{
    text-align: center;
}
